{% extends '../base.html' %}
{% load crispy_forms_tags %}

{% block content %} 

<div class="container" style="padding-top: 4%;">
    <div class="card shadow-2-strong" style="margin-right: 30%; margin-left: 30%;">
        <div class="card-header text-center bg-primary text-light">
            <a href="{% url 'home' %}">
                <h3 class="card-title text-white p-2">MyLinks</h3>
              </a>        
        </div>
        <div class="card-body p-5 ml-2 mr-2 ">
            <form method="post" class="text-right">
                <h4 class="card-title p-3 text-center">گذرواژه لینک را وارد کنید</h4>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-outline mt-4 p-1">
                    {{field}}
                    <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                </div>
                {% endfor %}
                <div class="form-check text-right mt-3">
                    <input class="form-check-input" type="checkbox" onclick="mypass()"/>
                    <label class="form-check-label" for="passcheck">نمایش گذرواژه</label>
                </div>
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" style="font-size: large;" >تایید</button>
                  </div> 
            </form>    
        </div>
        
    </div>
    
    
</div> 

{% endblock content %}
{% block scripts %}  
<script>
  function mypass() {
      var x = document.getElementById("pass");
          if (x.type === "password") {
              x.type = "text";
          } else {
              x.type = "password";
          }
  }
</script> 
{% if error %}
    <script>
        Swal.fire({
                icon: 'error',
                html: '{% for message in messages %}{%if "getpass" in message.tags %} <p>{{message}}</p>{% endif %}{% endfor %}',
                showCloseButton: true,
                focusConfirm: false,
                confirmButtonText:'تلاش دوباره',
                allowOutsideClick: false
        });
    </script>
{% endif %}
{% endblock %}