<div class="container w-auto justify-content-center text-right">
   <div style="padding-top: 40%;">
      <div class="col p-1" id="userde">
        <a href="{% url 'user-set' %}" class="btn btn-tag btn-success btn-rounded btn-lg" style="font-size: large;">
            <i class="fas fa-user"></i> 
        </a>
      </div>
      <div class="col p-1" id="uedit">
        <a href="{% url 'user-edit' %}" class="btn btn-tag btn-primary btn-rounded btn-lg" style="font-size: large;">
            <i class="fas fa-edit"></i> 
        </a>
      </div>
      <div class="col p-1" id="passd">
        <a href="{% url 'ps-change' %}" class="btn btn-tag  btn-warning btn-rounded btn-lg" style="font-size: large;">
            <i class="fas fa-key"></i>
        </a>
      </div>
      <div class="col p-1" id="udel">
        <a href="{% url 'user-del' %}" class="btn btn-tag btn-danger btn-rounded btn-lg" style="font-size: large;">
            <i class="fas fa-trash"></i> 
        </a>
      </div>
   </div>
</div>