<nav class="navbar navnar-light fixed-bottom bg-light">
    <div class="d-flex align-items-center">
        <a class="col p-auto" href="{% url 'user-set' %}">
            <button class="btn btn-lg btn-success btn-rounded">
                <i class="fas fa-user"></i>
            </button>
        </a>
        <a class="col p-auto" href="{% url 'user-edit' %}">
            <button class="btn btn-lg btn-primary btn-rounded">
                <i class="fas fa-edit"></i>
            </button>
        </a>
        <a class="col p-auto" href="{% url 'ps-change' %}">
            <button class="btn btn-lg btn-warning btn-rounded">
                <i class="fas fa-key"></i>
            </button>
        </a>
        <a class="col p-auto" href="{% url 'user-del' %}">
            <button class="btn btn-lg btn-danger btn-rounded">
                <i class="fas fa-trash"></i>
            </button>
        </a>
    </div>
</nav>