{% extends '../base.html' %}
{% block content %} 
       
{% if mobile %} 
<div class="container pt-4">
    <div class="card shadow-2-strong">
        <div class="card-header text-center bg-primary text-light">
            <a href="{% url 'home' %}">
                <h3 class="card-title text-white p-2">MyLinks</h3>
              </a>
        </div>
        <div class="card-body p-auto ">
            <h4 class="card-title text-center p-3 mb-2" style="font-size: large;">{{titleform}}</h4>

            <form method="post" class="text-right">
               
            </form> 
        </div>
    </div>
</div>  
{% else %} 
<div class="container" style="padding-top: 4%;">
    <div class="card shadow-2-strong" style="margin-right: 28%; margin-left: 28%;">
        <div class="card-header text-center bg-primary text-light">
            <a href="{% url 'home' %}">
                <h3 class="card-title text-white p-2">MyLinks</h3>
              </a>
        </div>
        <div class="card-body p-4 ml-3 mr-3 ">
            <h3 class="card-title text-center p-3 mb-2">{{titleform}}</h>

            <form method="post" accept="{% url 'user-acceptdel' %}" class="text-right mt-5" style="font-size: 15px;">
               {% csrf_token %}
                <p >کاربر گرامی تمامی اطلاعات زیر برای همیشه حذف خواهد شد:</p>
                <div class="pr-3 pb-2">
                    <div class="d-flex">
                        <p>لینک های عمومی</p>
                        <p class="badge bg-success h-75">{{plinks}}</p>
                    </div>
                    
                    <div class="d-flex">
                        <p>لینک های خصوصی</p>
                        <p class="badge bg-primary h-75">{{prilinks}}</p>
                    </div>
                    <div class="d-flex">
                        <p>لینک های اشتراکی</p>
                        <p class="badge bg-secondary h-75">{{slinks}}</p>
                    </div>
                    <div class="d-flex">
                        <p>لینک های لیستی</p>
                        <p class="badge bg-warning h-75">{{lilinks}}</p>
                    </div>

                </div>
                <div class="form-check mt-3">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault"  />
                    <label class="form-check-label" for="flexCheckDefault">فهمیدم</label>
                  </div>
                  <div class="form-group mt-3">
                    <button type="submit" id="btnsubs" class="btn btn-lg btn-primary btn-block" style="font-size: large;" disabled>تایید</button>
                  </div>
            </form> 
        </div>
    </div>
</div>         
{% endif %}
            
{% endblock %} 
{% block scripts %} 

<script>
    const checkbox=document.getElementById("flexCheckDefault");
    checkbox.addEventListener("change",function(e){
        if(e.currentTarget.checked==true)
        {
        document.getElementById("btnsubs").disabled=false;
        }
        else{
        document.getElementById("btnsubs").disabled=true;
        }
    })
    
</script>


{% endblock %}