{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %} 
       
{% if mobile %} 
<div class="container pt-4">
    <div class="card shadow-2-strong">
        <div class="card-header text-center bg-primary text-light">
            <a href="{% url 'home' %}">
                <img src="{% static 'mylinks_white.png' %}" style="height: 18%; width: 30%;" alt="">

              </a>
        </div>
        <div class="card-body p-auto ">
            {% if success %}
              <p>پیوند بازنشانی گذرواژه(رمز) به ایمیل شما ارسال شد</p>
            {% else %}
            <h4 class="card-title text-center p-3 mb-2" style="font-size: large;">{{titleform}}</h4>

            <form method="post" class="text-right">
                {% csrf_token %}
                {% if formselect %}
                <label for="{formselect.reason.id_for_label}}" class="mb-3" style="font-size: medium;">{{formselect.reason.label}}</label>
                <div dir="ltr">
                    {{formselect.reason}}
                </div>
                <div class="form-outline mt-4 mb-4 p-1">
                    {{formselect.password}}
                    <label class="form-label" for="{{formselect.password.id_for_label}}">{{formselect.password.label}}</label>
                </div>
                {% else %}
                {% for field in form %}
                <div class="form-outline mt-4 mb-4 p-1">
                    {{field}}
                    <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                </div>
                {% endfor %}
               {% endif %}
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" style="font-size: large;" >تایید</button>
                </div> 
            </form> 
            {% endif %} 
        </div>
    </div>
</div>  
{% else %} 
<div class="container" style="padding-top: 7%;">
    <div class="card shadow-2-strong" style="margin-right: 28%; margin-left: 28%;">
        <div class="card-header text-center bg-primary text-light">
            <a href="{% url 'home' %}">
                <h3 class="card-title text-white p-1">
                    <img src="{% static 'mylinks_white.png' %}" style="height: 18%; width: 30%;" alt="">
                </h3>
              </a>
        </div>
        <div class="card-body p-4 ml-3 mr-3 ">
        
            {% if success %}
              <p>پیوند بازنشانی گذرواژه(رمز) به ایمیل شما ارسال شد</p>
            {% else %}
            <h3 class="card-title text-center p-3 mb-2">{{titleform}}</h>

            <form method="post" class="text-right " style="font-size: medium;">
                {% csrf_token %}
                {% if formselect %}
                <label for="{formselect.reason.id_for_label}}" class="mb-3 mt-5">{{formselect.reason.label}}</label>
                <div dir="ltr">
                    {{formselect.reason}}
                </div>
                <div class="form-outline mt-4 mb-4 p-1" style="font-size: small;">
                    {{formselect.password}}
                    <label class="form-label" for="{{formselect.password.id_for_label}}">{{formselect.password.label}}</label>
                </div>
                {% else %}
                {% for field in form %}
                <div class="form-outline mt-4 mb-4 p-1">
                    {{field}}
                    <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                </div>
                {% endfor %}
               {% endif %}
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-lg btn-primary btn-block" style="font-size: large;" >تایید</button>
                  </div> 
            </form> 
            {% endif %} 
        </div>
    </div>
</div>         
{% endif %}
            
{% endblock %}     
{% block scripts %}  
{% if error %}
    <script>
        Swal.fire({
                        icon: 'error',
                        html: '{% for message in messages %}{%if "forget" in message.tags %} <p>{{message}}</p>{% endif %}{% endfor %}',
                        showCloseButton: true,
                        focusConfirm: false,
                        confirmButtonText:'تلاش دوباره',
                        allowOutsideClick: false
                });
    </script>
{% endif %}
{% endblock %}